<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-tablet is-6-desktop is-6-widescreen">
            <div *ngIf="unsuccess" class="notification is-danger">
              <button class="delete"></button>
              User registration <strong>Unsuccessful</strong>,
              please try again!
            </div>

            <div *ngIf="success" class="notification is-success">
              <button class="delete"></button>
              User registration <strong>Successful</strong>,
              redirecting to Sign In!
            </div>
            <h1 class="title">Register</h1>

            <form action="" class="box" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="field">
                    <label for="" class="label">Name</label>
                    <div class="control has-icons-left">
                      <input 
                        type="text" 
                        placeholder="Enter Full Name" 
                        class="input is-rounded" 
                        name="username" 
                        formControlName="name" 
                        required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                  </div>
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input 
                    type="email" 
                    formControlName="email" 
                    placeholder="e.g. bobsmith@gmail.com" 
                    class="input is-rounded" 
                    name="email" 
                    autocomplete="off" 
                    duplicateEmail
                    
                    required
                  >
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
  
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Phone Number</label>
                <div class="control has-icons-left">
                  <input 
                    type="tel" 
                    formControlName="cellNo" 
                    placeholder="Enter Phone Number" 
                    class="input is-rounded" 
                    name="ph_number"  
                    required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-phone-square"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input  
                    (input)="onCheck($any($event.target).value)"
                    type="password" placeholder="*******" 
                    class="input is-rounded" 
                    name="password" 
                    formControlName="password"
                    required
                  >
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                
              </div>

              <div class="box" >
                <div *ngIf="progress > 0" class="container">
                  <progress [ngClass]="progressClass" class="progress" [value]="progress" max="100">15%</progress>
                </div>
                <div [ngClass]="validClass.lengClass">
                  <i class="fa" [ngClass]="errIcon.lengIcon"></i>
                  <span>&nbsp;<small>Your password must contain at least 8 characters.</small></span>
                </div>

                <div [ngClass]="validClass.lowerClass">
                  <i class="fa" [ngClass]="errIcon.lowerIcon"></i>
                  <span>&nbsp;<small>Your password must contain at least one lowercase letter.</small></span>
                </div>

                <div [ngClass]="validClass.upperClass">
                  <i class="fa" [ngClass]="errIcon.upperIcon"></i>
                  <span>&nbsp;<small>Your password must contain at least one uppercase letter.</small></span>
                </div>

                <div [ngClass]="validClass.charClass">
                  <i class="fa" [ngClass]="errIcon.charIcon"></i>
                  <span>&nbsp;<small>Your password must contain at least one symbol characters.</small></span>
                </div>

                <div [ngClass]="validClass.digitClass">
                  <i class="fa" [ngClass]="errIcon.digitIcon"></i>
                  <span>&nbsp;<small>Your password must contain at least one digit.</small></span>
                </div>


              </div>
              
              <div class="field">
                <button class="button is-success is-centered">
                  Sign Up
                </button>
              </div>

              <div class="field">
                <label class="label">Already registered?
                  <a routerLink="/login" routerLinkActive="active" style="color:rgb(48, 130, 253)"> Click here!
                 </a>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>