<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-7-tablet is-6-desktop is-3-widescreen">
            <h1 class="title">Register</h1>
            <form action="" class="box" formGroup="registerForm">
                <div class="field">
                    <label for="" class="label">Name</label>
                    <div class="control has-icons-left">
                      <input type="text" placeholder="Enter Full Name" class="input is-rounded" name="username" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                  </div>
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input 
                    type="email" 
                    formControlName="email" 
                    placeholder="e.g. bobsmith@gmail.com" 
                    class="input is-rounded" 
                    name="email" 
                    [class.is-invalid]="registerForm.controls.email.touched && registerForm.controls.email.invalid"
                    autocomplete="off" 
                    duplicateEmail
                  >
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <div *ngIf="registerForm.controls.email.invalid">
                    <div class="text-danger"
                      *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('required')">
                      Email is required</div>
                    <div class="text-danger" *ngIf="registerForm.controls.email.hasError('email')">Email is not valid</div>
                    <div class="text-danger" *ngIf="registerForm.controls.email.hasError('duplicateEmail')">Email is duplicate</div>
                    <div class="text-danger" *ngIf="registerForm.controls.email.hasError('blackListed')">Email is blacklisted</div>
                  </div>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Phone Number</label>
                <div class="control has-icons-left">
                  <input type="text" formControlName="email" placeholder="Enter Phone Number" class="input is-rounded" name="ph_number"  required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-phone-square"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input  
                     type="password" placeholder="*******" 
                     class="input is-rounded" 
                     name="password" 
                    [class.is-invalid]="registerForm.controls.passwords.controls['password'].touched && registerForm.controls.passwords.controls['password'].invalid"
                  >
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <app-password-strength 
                  [password]="registerForm.controls.passwords.controls['password'].value"
                  (strengthChange)="onStrengthChange($event)"
                >
                </app-password-strength>

                <div *ngIf="registerForm.controls.passwords.controls['password'].touched">
                  <div class="text-danger"
                    *ngIf="registerForm.controls.passwords.controls['password'].touched && registerForm.controls.passwords.controls['password'].hasError('required')">
                    Password is required</div>
                </div>
                
              </div>
              
              <div class="field">
                <button class="button is-success">
                  Next
                </button>
              </div>

              <div class="field">
                <label class="label">Already registered?
                  <a routerLink="/login" routerLinkActive="active" style="color:rgb(48, 130, 253)"> Click here!
                 </a>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>