@import url(../../../toggle.css);
.profile-img {
    border: none;
    border-radius: 10px;
}
.alert_cross:hover{
    color:rgb(195, 196, 195);
    font-size: 25px;
}
#num-items {
    
    border-radius: 2px;
    width: 50px;
}
.search-bar {
    width: 60%;
}
