
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          
          <div class="column is-7-tablet is-6-desktop is-6-widescreen" id="animation">
            
            <h1 class="title">Login</h1>

            <div class="container">
              <div class="notification is-danger" *ngIf="loginError">
                <button (click)="msgDelete()" class="delete"></button>
                Login <strong>Unsuccessful</strong>, incorrect email or password.
              </div>
            </div>

            <form action="" class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                <div class="field">
                    <label for="" class="label">Email</label>
                    <div class="control has-icons-left">
                      <input type="email" placeholder="Enter Email" class="input is-rounded" formControlName="email" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                    <small class="has-text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">* Email is required</small>
                  </div>
              
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input is-rounded" formControlName="password" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <small class="has-text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">* Password is required</small>
              </div>
              
              <div class="field">
                <button type="submit" class="button is-success" id="buttonLogin">
                  Login
                </button>
              </div>

              <div class="field">
                <label class="label">Not registered?
                  <a routerLink="/register" routerLinkActive="active"  style="color:rgb(48, 130, 253)"> Click here!
                 </a>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>

