<div class="edit-box">
  <div class="box">
    <form class="box" [formGroup]="EditUser" (ngSubmit)="onEditSubmit()">

      <h3 class="title mb-6"></h3>
      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left">
          <input formControlName="name" type="text" class="input is-rounded">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
  
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input formControlName="email" type="text" class="input is-rounded">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
  
      <div class="field">
        <label class="label">Role</label>
        <div class="control has-icons-left">
          <input formControlName="role" type="text" class="input is-rounded">
          <span class="icon is-small is-left">
            <i class="fa fa-briefcase"></i>
          </span>
        </div>
      </div>
  
      <div class="field">
        <label class="label">Phone Number</label>
        <div class="control has-icons-left">
          <input formControlName="phone" type="text" class="input is-rounded">
          <span class="icon is-small is-left">
            <i class="fa fa-phone-square"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-success">Update</button>
          &nbsp;&nbsp;
          <button type="submit" class="button is-normal" (click)="Cancel()">{{buttonText}}</button>
        </div>
      </div>
  
    </form>
  </div>
  
</div>
