<div class="container">
    <div class="box">
        <div *ngIf="msg" 
            class="notification is-success" >
                <button (click)="removeMessage()" class="delete"></button>
                <strong>Congratulations!!</strong>You have successfully updated a user.
              </div>
        <form [formGroup]="editUser" (ngSubmit)="onUpdate()" class="box">
            <div class="box">
                <h2 class="title is-4">Update Users</h2>
            </div>
            <div class="field">
                <label class="label">
                    Name
                    <div class="control has-icons-left">
                        <input type="text" class="input is-rounded" formControlName="name"/>
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    
                </label>
            </div>

            <div class="field">
                <label class="label">
                    Email
                    <div class="control has-icons-left">
                        <input type="email" class="input is-rounded" formControlName="email"/>
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    
                </label>
            </div>
    
            <div class="field">
                <label class="label">
                    Role
                    <div class="control has-icons-left">
                    <input type="text" class="input is-rounded" formControlName="role"/>
                        <span class="icon is-small is-left">
                            <i class="fa fa-briefcase"></i>
                        </span>
                    </div>
                    
                </label>
            </div>

            <div class="field">
                <label class="label">
                    Change Image
                    <div class="control has-icons-left">
                    <input type="text" class="input is-rounded" formControlName="imageUrl" placeholder="Enter image url"/>
                        <span class="icon is-small is-left">
                            <i class="fa fa-camera"></i>
                        </span>
                    </div>
                    
                </label>
            </div>

            <div class="field">
                <div class="control has-icons-right">
                    <button type="submit" class="button is-success">
                        Update &nbsp;
                        <span class="icon is-small is-right">
                            <i class="fa fa-pencil-square-o"></i>
                        </span>
                    </button>
                    
                </div>
            </div>
    
        </form>
    </div>
</div>