<div class="box">
  <div class="box">

    <h1 class="title">Available Users</h1>

  </div>
  
  <div class="container cards">
    <div class="card" *ngFor="let val of userData">
      <div class="card-image">
        <figure class="image is-4by3">
          <img [src]="val.imageUrl" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media-content">
          <p class="title is-4">{{val.name}}</p>
          <p class="subtitle is-6">{{val.email}}</p>
        </div>
        <div class="content">
          {{val.role}}
        </div>
      </div>
    </div>
    
  </div>

</div>


