<nav class="navbar" role="navigation">
  <div class="navbar-end">
    <div class="dropdown is-active">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <a (click)="onSignOut()" class="dropdown-item">
            Sign Out
          </a>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <hr class="dropdown-divider">
          <a 
            id="editButton"
            (click)="onEditClick(userId)"
            routerLink="/update/{{userId}}"
            class="dropdown-item">
            Update User
          </a>
          <a 
            (click)="onPassClick()"
            routerLink="/update/password/{{userId}}"
            class="dropdown-item">
            Change Password
          </a>
          
          
        </div>
    </div>
  </div>
  </div>
</nav>
<!---->
<div class="box">
  
  <div class="box">
    Welcome, <h3><strong>{{ username }}</strong></h3>
  </div>
  <div class="box">

    <h1 class="title">Available Users</h1>

  </div>
  

  <div class="container cards" >
    
      <div class="card" *ngFor="let val of userData">

        <div class="card-image">
          <figure class="image is-4by3">
            <img [src]="val.imageUrl" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media-content">
            <p class="title is-5">{{val.name}} - <span class="title is-6">{{val.role}}</span></p>
            <p class="subtitle is-6"><strong>Cell&nbsp;&nbsp;&nbsp;: </strong>{{val.phone}}</p>
            <p class="subtitle is-6"><strong>Email: </strong>{{val.email}}</p>
          </div>
        </div>
      </div>
    </div>
</div>





